@use "../scss/" as *;
.iframeContainer {
  position: relative;
  top: 5rem;
  height: calc(100vh - 5rem);
}
.iframe {
  height: 100%;
  width: 100%;
  @include mobile {
    height: calc(100% - 11px);
  }
}
